.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.spend_timer {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    font-size: 26px;
    width: 100%;
}
.spend_timer .warning{
    color: red;
}